$eg-orange: #EB8754;
$foretagshalsovarden-pink: #E9C7DD;
$jemab-yellow: #FFCC01;
$reachhemservice-pale: #FAE3CC;
$isakssons-blue: #305269;
$opg-blue: #4B9BBA;
$infidel-purple: #6C596B;
$growingleaders-ocean: #70B0B5;
$white: #FFF;
$dark-green: #121A11;
$green: #304B35;
$light-green: #BDC8BF;
$blackish: #222;

h1 {
    font-size: clamp(70px, 4vw, 90px);
    font-weight: 600;
}
h2 {
    font-size: clamp(34px, 4vw, 40px);
    font-weight: 600;
}
h3 {
    font-size: clamp(18px, 4vw, 24px);
    font-weight: 300;
}
p {
    font-size: clamp(16px, 4vw, 20px);
    font-weight: 300;
}
h4 {}
h5 {}
h6 {}

@mixin button {
    text-decoration: none;
    font-weight: 600;
    margin-top: 2em;
    display: inline-block;
    z-index: -1;
    opacity: 0.5;
    padding: 1em 2em;
    background: $white;
    color: $blackish;

    &:hover {
        opacity: 1;
    }
    
}
.button {
    @include button;
}


@mixin media-text-wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10vmin 0;
    margin: 0 5% 5em 5%;
    border-radius: 0.5em;

    .inner {
        width: 1440px;

        @media(max-width: 1440px) {
            width: 90%;
        }

        .media-text-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            img {
                width: 50%;
                opacity: 0;
                transform: translateY(1em);

                @media(max-width: 1024px) {
                    width: 100%;
                }
            }
    
            .content-wrapper {
                width: 50%;

                @media(max-width: 1024px) {
                    width: 100%;
                }

                h2 {
                    width: 100%;
                    opacity: 0;
                    transform: translateY(1em);
                }
                p {
                    width: 100%;
                    opacity: 0;
                    transform: translateY(1em);
                }
            }
        }

    }
}

html, body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // box-shadow: 0 0 0 1px black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: $white;
}

body {
    // background: $dark-green;
}

main {
    position: relative;
    width: 100%;
    height: auto;

    .case-wrapper {
        display: flex;
        width: 100%;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(33% - 2em);
        height: 80vh;
        background: $dark-green;

        &.one {
            width: 100%;
            .overflow-wrapper {
                width: 960px;
                height: auto;
                position: relative;
                // overflow: hidden;
                // height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;

                h1,h2,h3 {
                    transition: all ease 1s;
                }
    
                h1 {
                    font-weight: 600; 
        
                    &.welcome-text {
                        position: absolute;
                        transform: translateY(-20%);
                        opacity: 0;
        
                        &.one {
        
                            &.active {
                                transform: translateY(0);
                                opacity: 1;
                            }
                            &.no-active {
                                transform: translateY(20%);
                                opacity: 0;
                            }
                        }
                    }
                }
                h2 {
                    font-size: clamp(40px, 4vw, 70px);
        
                    &.welcome-text {
                        position: absolute;
                        transform: translateY(-20%);
                        opacity: 0;
        
                        &.two {
        
                            &.active {
                                transform: translateY(0);
                                opacity: 1;
                            }
                            &.no-active {
                                transform: translateY(-100%);
                                opacity: 1;
                            }
                        }
                    }
                }
                h3 {
        
                    &.welcome-text {
                        position: absolute;
                        transform: translateY(-50%);
                        opacity: 0;
    
                        &.third {
        
                            &.active {
                                transform: translateY(0);
                                opacity: 1;
                            }
                            // &.no-active {
                            //     transform: translateY(20%);
                            //     opacity: 0;
                            // }
                        }
                    }
                }
            }

        }

        &.two {
            @include media-text-wrapper;
            background: $green;
            margin-top: -15vmin;

            &.show {

                .inner {
                    .media-text-wrapper {
                        display: flex;
                        justify-content: space-between;
                        img {
                            opacity: 1;
                            transform: translateY(0);
                            border-radius: 0.5em;
                        }
                        .content-wrapper {
                            width: calc(50% - 4em);
                            h2 {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                                width: 100%;
                                margin-bottom: 2em;
                            }
                        }
                    }
                }
            }

            .inner {
                h2, p {
                    color: $light-green;
                }
                h2 {
                    margin-bottom: 1em;
                }
            }
        }

        &.third {
            @include media-text-wrapper;
            background: $foretagshalsovarden-pink;

            &.show {
                margin-top: -0vmin;

                .inner {
                    .media-text-wrapper {
                        img {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .content-wrapper {
                            h2 {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .inner {
                h2, p {
                    color: $blackish;
                }
            }
        }

        &.fourth {
            @include media-text-wrapper;
            background: $jemab-yellow;

            &.show {
                margin-top: -0vmin;

                .inner {
                    .media-text-wrapper {
                        img {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .content-wrapper {
                            h2 {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .inner {
                h2, p {
                    color: $blackish;
                }
            }
        }

        &.fifth {
            @include media-text-wrapper;
            background: $reachhemservice-pale;

            &.show {
                margin-top: -0vmin;

                .inner {
                    .media-text-wrapper {
                        img {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .content-wrapper {
                            h2 {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .inner {
                h2, p {
                    color: $blackish;
                }
            }
        }

        &.sixth {
            @include media-text-wrapper;
            background: $isakssons-blue;

            &.show {
                margin-top: -0vmin;

                .inner {
                    .media-text-wrapper {
                        img {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .content-wrapper {
                            h2 {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .inner {
                // 
            }
        }

        &.seventh {
            @include media-text-wrapper;
            background: $opg-blue;

            &.show {
                margin-top: -0vmin;

                .inner {
                    .media-text-wrapper {
                        img {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .content-wrapper {
                            h2 {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .inner {
                // 
            }
        }

        &.eight {
            @include media-text-wrapper;
            background: $infidel-purple;

            &.show {
                margin-top: -0vmin;

                .inner {
                    .media-text-wrapper {
                        img {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .content-wrapper {
                            h2 {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .inner {
                // 
            }
        }

        &.nine {
            @include media-text-wrapper;
            background: $eg-orange;

            &.show {
                margin-top: -0vmin;

                .inner {
                    .media-text-wrapper {
                        img {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .content-wrapper {
                            h2 {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .inner {
                // 
            }
        }

        &.ten {
            @include media-text-wrapper;
            background: $growingleaders-ocean;

            &.show {
                margin-top: -0vmin;

                .inner {
                    .media-text-wrapper {
                        img {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        .content-wrapper {
                            h2 {
                                opacity: 1;
                                transform: translateY(0);
                            }

                            p {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .inner {
                // 
            }
        }

    }

}